<div class="d-flex m-3 justify-content-end">
  <%= link_to 'Add a list', new_list_path, class: "btn btn-warning text-white" %>
</div>

<div class="row ">
  <% @lists.each do |list| %>
    <div class="col-12 col-sm-6 col-lg-4">
      <%= link_to list, class: "link" do %>
        <div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://picsum.photos/800/300?random=<%= rand(1..100).to_s%>)">
          <h2><%= list.name %></h2>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
